extends layout.pug

include utils.pug
block content
  +validationErrorSummary(errors)
  form(method='post' action='/signup')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('First Name', 'firstName', user.firstName)
    +field('Last Name', 'lastName', user.lastName)
    +field('Email', 'emailAddress', user.emailAddress, 'email')
    +field('Password', 'password', user.hashedPassword, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    button(type='submit') Sign Up!
    a(href='/login') Already have an account?
