doctype html
html
  head
    title="Recall- The Only Task App You'll Ever Need!"
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css")
    link(rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/aboutUs.css")
    link(rel="shortcut icon" type="image/x-icon" href="/stylesheets/favicon.ico")

  body(id='aboutUs-body')
      div(id='aboutUs-main-container')
        span(id='aboutUs-nav-bar') nav bar
          div(id='aboutUs-logo')
          a(href='/')
            div(id='aboutUs-landing-redirect') button
        div(id='aboutUs-header')
          div(id='aboutUs-header-text-container') Four programmers with the dream of making a positive difference in the World...
            div(id='aboutUs-header-text')
        div(id='aboutUs-main-content')
          div(id='aboutUs-info-container')
            div(id='aboutUs-connor') connor
            div(id='aboutUs-chris') chris
            div(id='aboutUs-patrick') patrick
            div(id='aboutUs-walker') walker
