doctype html
html
  head
    title="Recall"
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(src="/javascripts/index.js" type="module" defer)
    script(src="/javascripts/postEdit.js" type="module")
    script(src="/javascripts/postDelete.js" type="module")
    script(src="/javascripts/delete-lists.js" type="module")
    script(src="/javascripts/edit-lists.js" type="module")
  body
    if locals.authenticated
      //- span Welcome #{user.firstName}!
      form(action='/logout' method='post')
        button(type='submit') Logout
    else
      span
        a(href='/login') Login
        a(href='/signup') Register
        span
          form(method='post' action='/demo')
            button(type='submit') Demo
    block content
      h1= title