doctype html
html
  head
    title="Express Starter App"
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(src="/javascripts/index.js" type="module" defer)
    script(src="/javascripts/postEdit.js" type="module")
    script(src="/javascripts/postDelete.js" type="module")
  body
    if locals.authenticated
      span Welcome #{user.firstName}!
      input(type='search' placeholder='Find a task...' name='name' class='searchbar')
      button(type='submit' class='searchbarBtn') Search
      form(action='/logout' method='post')
        button(type='submit') Logout
    else
      span
        a(href='/login' class='loginbtn') Login
        a(href='/signup' class='registerbtn') Register
        span
          form(method='post' action='/demo')
            button(type='submit') Demo
    block content
