#aboutUs-body {
    margin: 0px;
    min-width: 1000px;
}

#aboutUs-main-container {
    background-color: aquamarine;
    padding: 25px;
    height: 100vh;
}

#aboutUs-nav-bar {}

#aboutUs-header {
    background-image: url(../img/aboutUs_main_img.jpg);
    height: 700px;
    background-size: 120%;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

#aboutUs-header-text-container {
    background-color: rgba(40, 40, 40, .6);
    border-radius: 15px;
    padding: 25px;
    position: absolute;
    bottom: 200px;
    color: white;
}
